<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Scrabble Score</title>
    </head>
    <body>
        <h3>Your score is:</h3>
        {{score}}

        <a href="/"><button type="button">Play Again</button></a>

    </body>
  </html>
